<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="50" *ngIf="dish" fxFlexOffset="20px">
		<md-card>
			<md-card-header>
				<md-card-title>
					<h3>{{dish.name | uppercase}}</h3>
				</md-card-title>
				
			</md-card-header>
			<img md-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
			<md-card-content>
				<p>{{dish.description}}</p>
			</md-card-content>
			<md-card-actions>
        <button md-button [routerLink] = "['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg">

          </span>
        </button>
        <button md-button (click) = "goBack()">Back</button>
				<button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink] = "['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg">
          </span>
        </button>
			</md-card-actions>
		</md-card>
  </div>
  <div flex="40" *ngIf="dish"> 
    <md-list fxFlex>
      <h2>Comment</h2>
      <md-list-item *ngFor="let comment of dish.comments">
        <p md-line>
          {{comment.comment}}
        </p>
        <p md-line>
          {{comment.rating}} Stars
        </p>
        <p md-line>
          <span>--{{comment.author}}</span>
          <span>{{comment.date | date}}</span>
        </p>
      </md-list-item>

      <form novalidate [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()">
          <md-input-container class="half-width"
          dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
           <input mdInput formControlName="author" placeholder="First Name" type="text" required>
           <md-hint>
            <span [hidden]="!(formErrors.author)">
              {{formErrors.author}}</span>
           </md-hint>
         </md-input-container>
          <p>
          <md-slider mdInput ng-model="rating" tickInterval="1" class="example-margin" [max]="5"
              [min]="1" [step]="1" formControlName="rating" thumbLabel
                  >
          </md-slider>
        </p>
        <p>
          <md-input-container class="full-width">
            <textarea mdInput formControlName="comment" placeholder="Your Feedback" rows=12></textarea>
          </md-input-container>
        </p>  
        <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
      </form>
  
    </md-list>
    
  </div>
  <div [hidden]="dish || errorMessage">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMessage">
		<h2>Error</h2>
		<h4>{{errMessage}}</h4>
	</div>

</div>
